:root {
  --color-theme: #008C95;
  --color1: #008C95;
  --footer-color: #121212;
  --font-color: #403b58;
  --hover-color: #008C95;
  --border-color: #a7a7a7;
}

.chart_style {
  font-size: 12px !important;

  padding: 2, 2, 2, 2 !important;
}
.gap-1 {
  gap: 5px;
}
.gap-2 {
  gap: 10px;
}
.gap-3 {
  gap: 15px;
}
.gap-4 {
  gap: 20px;
}
.gap-5 {
  gap: 25px;
}
.gap-6 {
  gap: 30px;
}
.gap-7 {
  gap: 35px;
}
.gap-8 {
  gap: 40px;
}
.gap-9 {
  gap: 45px;
}
.gap-10 {
  gap: 50px;
}
.theme-4 thead {
  /* z-index: 100; */
}

.left-sidebar-wrapper nav.sidebar {
  z-index: 9;
}

.theme-color-2 .left-nav-menu .has_menu.active {
  background-color: #4672ff;
}

.left-nav-menu ul ul > li > a {
  padding-left: 40px !important;
}

.left-nav-menu ul ul > li > ul > li > a {
  padding-left: 50px !important;
}

.left-nav-menu ul ul > li {
  position: relative;
}

.left-nav-menu ul ul > li:before {
  content: "";
  position: absolute;
  left: 23px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #fff;
  z-index: 1;
}

.left-nav-menu ul ul > li:after {
  content: "";
  position: absolute;
  left: 23px;
  top: 20px;
  width: 10px;
  background: #fff;
  z-index: 1;
  height: 1px;
}

.left-nav-menu ul ul > li > ul > li:before {
  left: 34px;
}

.left-nav-menu ul ul > li > ul > li:after {
  left: 34px;
}

.vl {
  border-left: 1px dashed #143065;
  height: 230px;
}

/* datepicker start */
.react-datepicker__current-month {
  display: none;
}

.react-datepicker__header {
  background: transparent !important;
  border: 0 !important;
}

.react-datepicker {
  border-radius: 15px !important;
  border: 0 !important;
  box-shadow: 0 0 10px rgb(0 0 0 / 37%) !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  border-radius: 50% !important;
}

.theme-color-11 .react-datepicker__day--keyboard-selected,
.theme-color-11 li.react-datepicker__time-list-item--selected,
.theme-color-11 .react-datepicker__month-text--keyboard-selected,
.theme-color-11 .react-datepicker__quarter-text--keyboard-selected,
.theme-color-11 .react-datepicker__year-text--keyboard-selected,
.theme-color-11 .react-datepicker__day--selected,
.theme-color-11 .react-datepicker__day--in-range,
.theme-color-11 .react-datepicker__year-text--selected {
  background-color: var(--color-theme) !important;
  color: #fff !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 50% !important;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  bottom: auto !important;
  left: auto !important;
  position: absolute !important;
  transform: rotate(135deg);
  right: -16px;
  top: 0;
  line-height: normal !important;
  font-weight: normal !important;
}

.react-datepicker__month-read-view--down-arrow,
.react-datepicker__year-read-view--down-arrow {
  display: none !important;
}

.react-datepicker__navigation--previous {
  left: auto !important;
  right: 40px !important;
}

.react-datepicker .react-datepicker__header {
  padding: 45px 0px 6px !important;
}

.react-datepicker__header__dropdown {
  position: absolute !important;
  left: 0 !important;
  top: 14px !important;
}

.react-datepicker__navigation-icon--next::before,
.react-datepicker__navigation-icon--previous::before {
  content: "\f054" !important;
  font-family: "Font Awesome 5 Free";
  border: 0 !important;
  transform: rotate(0deg) !important;
  font-weight: 900 !important;
  position: absolute !important;
  text-indent: 0 !important;
  right: 0 !important;
  top: 0 !important;
  left: auto !important;
  font-size: 13px !important;
}

.react-datepicker__navigation-icon--next {
  /* position: relative; */
  /* display: block; */
  /* width: 30px; */
  /* height: 30px; */
}

.react-datepicker__navigation {
  /* text-indent: 0; */
  width: 10px !important;
  height: 20px !important;
  right: 20px !important;
  top: 14px !important;
}

.react-datepicker__navigation--previous {
  right: 40px !important;
}

.react-datepicker__navigation-icon--previous {
  right: -4px !important;
}

.react-datepicker__navigation-icon--next {
  left: 2px !important;
  top: 0.36rem !important;
}

.react-datepicker__navigation-icon--previous::before {
  transform: rotate(180deg) !important;
  top: 9px !important;
}

span.react-datepicker__month-read-view--selected-month,
span.react-datepicker__year-read-view--selected-year {
  position: relative;
  padding-right: 20px;
}

span.react-datepicker__month-read-view--selected-month:before,
span.react-datepicker__year-read-view--selected-year:before {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  right: 0;
  position: absolute;
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
  top: 0 !important;
  width: 260px !important;
  height: 279px !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  display: flex !important;
  display: -webkit-flex !important;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 3px;
  background: #ffffff !important;
  border: 0 !important;
  border-radius: 0 0 20px 20px !important;
  overflow: auto;
}

.react-datepicker__header__dropdown.react-datepicker__header__dropdown--scroll {
  /* width: 100%; */
  /* top: 0 !important; */
  /* bottom: 0 !important; */
}

.react-datepicker__month-container {
  position: relative;
}

.react-datepicker__year-option,
.react-datepicker__month-option,
.react-datepicker__month-year-option {
  position: relative;
  width: 30% !important;
  background: #fff;
  padding: 10px 8px;
  font-size: 12px;
  border-radius: 6px;
  color: #7a7a7a !important;
  box-shadow: 0 0 10px #00000026;
  margin: 6px 0;
}

span.react-datepicker__month-option--selected,
span.react-datepicker__year-option--selected {
  display: none;
}

.react-datepicker__month-option.react-datepicker__month-option--selected_month,
.react-datepicker__month-option:hover,
.react-datepicker__year-option.react-datepicker__year-option--selected_year,
.react-datepicker__year-option:hover {
  background: var(--color-theme) !important;
  color: #fff !important;
}

/* .react-datepicker__year-option:nth-child(1), .react-datepicker__year-option:nth-child(8) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: transparent !important;
    box-shadow: 0 0 0;
} */
.react-datepicker__year-option:nth-child(8) {
  top: auto;
  bottom: 0;
}

a.react-datepicker__navigation.react-datepicker__navigation--years.react-datepicker__navigation--years-upcoming {
  position: static;
  width: 13px !important;
  height: 14px !important;
}

.react-datepicker__year-option:last-child {
  height: auto !important;
}

a.react-datepicker__navigation.react-datepicker__navigation--years.react-datepicker__navigation--years-previous {
  position: static;
  width: 13px !important;
  height: 14px !important;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  left: 50% !important;
  transform: translate(0, -50%) !important;
  width: 20px !important;
}

/* datepicker end */

.switch-sm.custom-switch
  .custom-control-input:checked
  ~ .custom-control-label::before {
  /* color: #fff;
    border-color: var(--color-theme);
    background-color: var(--color-theme); */
}

.pricing_table {
  padding: 0.5rem;
  padding-bottom: 0.25rem !important;
  min-width: 100px;
}

.bigImgUploader {
  width: 294px;
  height: 250px;
  position: relative;
}

.bigImgUploader input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.bigImgUploader img {
  width: 220px;
  height: 261px;
  object-fit: contain;
}

/* dropzone start  */
/* react dropzone start */
.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #eeeeee;
  background-color: #ffffff;
  color: #bdbdbd;
  width: 100% !important;
  height: 49px;
  border: 1px solid #9a9ab0;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzoneText {
  display: inline-block;
  margin-right: 0px;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gola {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerDiv {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

/* react dropzone end */

.wrap_uploadMonthly_doc .dropzone {
  width: 14.5rem !important;
  margin-bottom: 0px;
}

/* dropzone end  */

/* chating start */

.imgReplies {
  width: 150px;
  height: 150px;
  padding: 3px;
  background-color: white;
  border-radius: 3px;
}

.chat_message_reply {
  padding-left: 25px;
  margin-left: 70%;
  font-size: 12px;
  margin-bottom: 8px;
}

.reply_right {
  padding: 7px 13px;
  border-radius: 20px;
  background-color: #143065;
  color: white;
  margin-bottom: 0px;
  font-size: 14px;
}

.leftChat {
  padding: 14px;
  background: #e0e0e0;
  border-radius: 29px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  max-width: 30%;
  min-width: 14%;
  margin: 10px 0px 0px 0px;
  min-height: 35px;
  font-size: 14px;
}

.chatBox_child {
  /* min-height: 400px;
    max-height: 40px; */
  max-height: 360px;
  overflow-y: scroll;
}

.time-right {
  font-size: 11px;
  margin-left: 20px;
}

.time-left {
  font-size: 11px;
  margin-left: 80px;
}

.settingsInputGroup {
  height: 35px;
  width: 60px;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.default-theme {
  background-color: #143065;
  color: white;
  border: none;
}

/* chating end */

.react-confirm-alert-button-group > button:nth-child(1) {
  outline: none;
  background: #22a546 !important;
  border: none;
  display: inline-block;
  padding: 6px 18px;
  color: #eee;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.react-confirm-alert-button-group > button:nth-child(2) {
  outline: none;
  background: #de2020 !important;
  border: none;
  display: inline-block;
  padding: 6px 18px;
  color: #eee;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.react-confirm-alert-body {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding: 30px;
  text-align: left;
  background: #eee !important;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
}

.fa-2x {
  font-size: 1.5em;
}

.cursorDisabled {
  cursor: not-allowed !important;
}

.leftChatWithImage {
  padding: 14px;
  background: #e0e0e0;
  border-radius: 29px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  max-width: 172px;
  min-width: 14%;
  margin: 10px 0px 0px 0px;
  min-height: 35px;
  font-size: 14px;
}

.react-datepicker-popper {
  z-index: 10000000 !important;
  /* vertical-align: top; */
}

.packpriciwrp .nav-tabs .nav-link {
  color: #143065 !important;
  border: 1px solid #143065;
  border-radius: 4px;
  margin: 11px 5px;
  background: #fff;
}

.packpriciwrp .nav-tabs .nav-link.active {
  background: #143065;
  color: #fff !important;
}

.packpriciwrp ul.mb-3.nav.nav-tabs {
  margin-bottom: 0 !important;
  border: 0;
  padding-left: 10px;
}

.colored-rating {
  color: #143065;
}

.pageloaderWrp {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -999;
  background: rgb(255 255 255 / 56%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.loading_page .pageloaderWrp {
  opacity: 1;
  z-index: 9999;
}

.page-header-breadcrumb ul {
  margin-bottom: 0;
}

.header-notification i.fa-solid.fa-angle-down {
  margin-left: 7px;
}

li.breadcrumb-item {
  font-size: 14px;
}

table.table th {
  border-bottom-color: #e1e1e1 !important;
}

.ProfileHeading {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}

.errorMsg {
  color: #f00;
}

.jodit-status-bar__item.jodit-status-bar__item-right:nth-last-child(1) {
  display: none;
}

.Form__mainContain {
  justify-content: center;
}

.previewImge {
  width: 35px;
  height: 35px;
}

.previewImge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagegroup {
  border: 1px solid #efefef;
  padding: 0;
  background: #f8fbfb;
  font-size: 0.875rem;
  height: auto;
}

.inputGroup {
  width: 100%;
}

.inputGroup input {
  width: 100%;
  padding: 4px 15px;
}

.anchor {
  color: var(--color-theme);
  font-size: 12px;
  text-decoration: underline !important;
  cursor: pointer;
}
.anchor:hover {
  color: var(--color-theme);
}
.contentView {
  max-width: 320px;
  display: inline-block;
}

.contentView.showmore {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.constentBoxwr {
  padding: 25px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
}

.constentBoxwr p {
  font-size: 16px;
  margin-bottom: 0;
}

.closeModal {
  position: absolute;
  right: 0;
  top: -20px;
  background: #f00;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  left: 0;
  margin: auto;
}

.jodit-container {
  width: 100%;
}

.jodit-react-container {
  width: 100%;
}

ul.proFileTabs {
  margin-bottom: 40px;
}

.tableimg {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.tableimg.img-circle {
  border-radius: 50%;
}

ul.nav-right li {
  list-style: none;
  display: block;
}

.left-sidebar-wrapper .sidebar-header a img {
  filter: brightness(100);
}

table.table tr .th-1 {
  width: 1% !important;
  min-width: 60px;
}

table.table tr .td-2 {
  width: 2% !important;
  min-width: 60px;
}

.table > :not(caption) > * > * {
  padding: 0;
}

.form-control,
.form-select {
  border: 1px solid #efefef;
  padding: 0.375rem 0.75rem;
  background-color: #f8fbfb;
  font-size: 0.875rem;
  height: auto;
}

.add_field_btn {
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: -24px;
  top: -24px;
}

.add_field_btn.add {
  background-color: var(--color-theme);
}

.add_field_btn.minus {
  background-color: red;
}

.add_field_btn.minus:hover {
  background-color: rgb(240, 85, 85);
}

.add_field_btn:hover {
  opacity: 0.8;
  box-shadow: rgba(171, 109, 35, 0.308) 0px 3px 5px 0px;
}

.css-1f43avz-a11yText-A11yText {
  display: none !important;
}

.filterwrpprolist ul li {
  list-style: none !important;
  z-index: 999;
}

.testiMonPictr a img {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.testiMonPictr a {
  display: block;
  margin-bottom: 7px;
  margin-top: 7px;
}

.confirm-box__content > span {
  font-size: 22px;
  text-align: center;
  display: block;
}

.confirm-box__actions button {
  border: 1px solid var(--color-theme);
  padding: 5px 15px !important;
  border-radius: 5px !important;
  background: #fff !important;
  color: var(--color-theme) !important;
  min-width: 100px !important;
}

.confirm-box__actions button[role="confirmable-button"] {
  border: 1px solid var(--color-theme) !important;
  background: var(--color-theme) !important;
  color: #fff !important;
}

.confirm-box__actions {
  padding-top: 35px !important;
  justify-content: center !important;
}

.confirm-box__content {
  width: 300px !important;
  padding: 25px !important;
}

.jodit-react-container span {
  font-weight: normal;
}

span.react-datepicker__aria-live {
  display: none !important;
}

.css-13cymwt-control {
  background: #f8fbfb !important;
  border: 1px solid #efefef !important;
}

.form-select:focus {
  /* border: none !important; */
  box-shadow: none !important;
}

.custom-control.custom-switch.switch-sm {
  width: 50px;
  height: 32px;
  overflow: hidden;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 !important;
  border-color: none;
}

.css-1xc3v61-indicatorContainer svg path {
  color: #383e44;
}

.thumnailTable img {
  height: 50px;
  width: 50px;
}

.jodit-react-container ul {
  display: list-item !important;
  padding-left: 2rem;
  margin: inherit;
  list-style: inherit;
}

.jodit-react-container ul li {
  list-style: inherit;
}

.bulkInquiry_con {
  padding: 35px 40px;
}

.bulkInquiry_con h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.bulkInquiry_con .inquiry {
  display: flex;
  align-items: center;
  justify-content: center;
  /* line-height: 18.2px; */
}

.loginsignbtn.filterreset.bulk_btn {
  margin-top: 30px;
}

.order_details_con {
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
  line-height: 33.88px;
  margin-bottom: 20px;
}

.order_detail {
  display: flex;
  justify-content: space-between;
}

.order_detail label {
  color: #808080;
  margin: 0;
}

.order_detail .order_data {
  text-align: right;
  color: #808080;
}

.disclaimer_con {
  font-size: 18px;
  margin-bottom: 13px;
  font-weight: 400;
  color: #808080;
}

.order_details_con .order_prod_img {
  height: 145px;
  width: 145px;
  border-radius: 10px;
}

.order_details_con .order_prod_img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.order_details_con .order_prod_details {
  padding-left: 12px;
  width: calc(100% - 145px);
}

.order_prod_details .prod_name {
  display: flex;
  justify-content: space-between;
}

.order_prod_details .prod_name h1 {
  font-size: 24px;
  font-weight: 700;
}

.order_prod_details .prod_name h2 {
  font-size: 24px;
  font-weight: 400;
}

.cat_details {
  font-size: 14px;
  line-height: 16.4px;
  margin: 15px 0px 30px 0px;
}

.cat_details p {
  margin-bottom: 0;
}

.cat_details p {
  margin-bottom: 0;
}

.order_prod_details .order_price {
  font-size: 14px;
  font-weight: 400;
}

.order_prod_details .order_price > span {
  font-size: 31px;
  font-weight: 700;
  color: var(--color-theme);
}

.order_detail .price {
  font-size: 17px;
}

.pl-3 {
  padding-left: 2rem !important;
}

.disclaimer_con > span {
  font-weight: 700;
}

.wrapperSattleModl {
  /* max-width: 320px; */
  padding: 15px 30px;
  margin: 0 auto;
}

.prfImage.leftalgImg img {
  object-fit: cover;
}

.btn-order {
  font-size: 12px;
  border: 0;
  background: #e9e9e9;
  padding: 4px 7px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600;
  color: #252525;
  text-align: center;
  line-height: 21px;
}

.btn-in-transit {
  background: rgb(101 88 245 / 10%);
  color: #6558f5;
}

.btn-pending {
  background: rgb(213 173 51 / 10%);
  color: #d5ad33;
}

.btn-delivered {
  background: rgb(39 112 77 / 10%);
  color: #27704d;
}

.btn-cancelled {
  background: rgba(245, 0, 0, 0.1);
  color: #f50000;
}

.btn-dispatched {
  background: rgba(0, 190, 223, 0.1);
  color: #00bedf;
}

.btn-received {
  background: rgba(1, 135, 158, 0.1);
  color: #01879e;
}

.btn-refunded {
  background: rgba(4, 158, 1, 0.1);
  color: #049e01;
}

.dashheadercon {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.dashheadtext h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--font-color);
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.earning_con {
  border: 1px solid var(--border-color);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #fff;
}

.report_con {
  height: 100%;
}

.report_details {
  border-radius: 10px;
  border: 1px solid #a7a7a7;
  background: #d5ad33;
  color: white;
}

.report_details {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 150px;
}

.report_details.main {
  border-color: var(--color1);
  background-color: #fff;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.report_details.vendor {
  background-color: #fff;
  color: var(--font-color);
}

.report_details.first {
  background-color: #fff;
  color: var(--font-color);
  border: none;
}

.report_details.vendor {
  padding: 25px;
}

.report_details.main p {
  font-size: 24px;
}

.report_details.main h1 {
  font-size: 36px;
}

.user_info {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.user_info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.user_info h5 {
  font-size: 16px;
}

.msg_div p {
  font-size: 14px;
  margin-bottom: 0;
}

.cardminHeight {
  min-height: 400px;
}

.linecharttxt.earningMonts {
  writing-mode: vertical-lr;
  text-orientation: inherit;
  position: absolute;
  transform: rotate(180deg) translate(0%, 50%);
  left: 18px;
  top: 50%;
}

.chartlinecon {
  padding-left: 60px;
  position: relative;
}

.settlementModal .modal-body {
  padding: 0 !important;
}

.settlementModal .heading {
  border-bottom: 1px solid #b5b8bc;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  text-align: center;
}

.settlementModal form {
  padding: 20px 15px;
}

.settlementModal .input_con {
  border: 1px solid #b2a7a7;
  display: flex;
  border-top: 0px;
}

.settlementModal .input_con.first {
  border-top: 1px solid #b2a7a7;
}

.settlementModal label,
.settlementModal .input_wrp {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.settlementModal label {
  border-right: 1px solid #b2a7a7;
  margin-bottom: 0;
  font-weight: 500;
}

.settlementModal .submit {
  text-align: center;
}

.settlementModal button {
  margin-top: 15px;
  padding: 10px;
}

.settlementModal button:hover {
  opacity: 0.8;
  box-shadow: rgba(171, 109, 35, 0.308) 0px 3px 5px 0px;
}

.cover_image_con {
  width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
  right: 0;
  top: 50%;
  bottom: auto;
  height: 34px;
  width: 34px;
  background: white;
  border-radius: 50%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, -50%);
}

.carousel-control-prev {
  left: 19px;
  right: auto;
}

.carousel-control-next {
  left: auto;
  right: 19px;
}

.carousel-control-prev-icon {
  background-image: url("/assets/images/prev.png") !important;
  background-size: contain;
}

.carousel-control-next-icon {
  background-image: url("/assets/images/next.png") !important;
  background-size: contain;
}

.carousel-indicators {
  display: none !important;
}

.carousel-item-next.carousel-item-left {
  display: block !important;
}

.carousel-item-next {
  transition: transform 0s ease-in-out;
}

.carousel-item-prev {
  transition: transform 0s ease-in-out;
}

.carousel-item-left {
  transform: translateX(-100%);
}

.carousel-item-right {
  transform: translateX(100%);
}

.theme-4 .all-content-wrapper {
  /* margin-left: 245px; */
  margin-left: 260px;
}

.left-sidebar-wrapper nav.sidebar {
  /* min-width: 230px; */
  /* min-width: 260px; */
}
.react-datepicker-wrapper {
  display: block;
  width: 100%;
}
.btnMrn {
  margin-top: 31px;
}
.csvBtn input[type="file"] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.csvBtn {
  position: relative;
  overflow: hidden;
}
/* @media (max-width: 1000px) { */
@media screen and (max-width: 1558) {
  /* .jodit-ui-group:last-child, .jodit-ui-group:last-child, .jodit-ui-spacer,
    span.jodit-toolbar-button.jodit-toolbar-button_size_middle.jodit-toolbar-button_variant_initial.jodit-toolbar-button_fontsize.jodit-toolbar-button_with-trigger_true.jodit-ui-group__fontsize,
    span.jodit-toolbar-button.jodit-toolbar-button_size_middle.jodit-toolbar-button_variant_initial.jodit-toolbar-button_font.jodit-toolbar-button_with-trigger_true.jodit-ui-group__font,
    .jodit-ui-separator,
    span.jodit-toolbar-button.jodit-toolbar-button_size_middle.jodit-toolbar-button_variant_initial.jodit-toolbar-button_eraser.jodit-ui-group__eraser
    {display: none !important;} */
}

@media screen and (max-width: 880px) and (min-width: 400px) {
  .card-header {
    width: 50rem;
  }
}

ul.nav-right li a {
  cursor: pointer !important;
}
.tabsWRap {
    /* background: #f9f9f9; */
    /* padding: 13px 25px 0; */
    display: flex;
    /* gap: 25px; */
    border-bottom: 1px solid #d6d6d6;
}

.tabBttns {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #797979;
    padding: 10px 20px;
    border-radius: 7px 7px 0 0;
    cursor: pointer;
}

.tabBttns.true {
    background: var(--color-theme);
    color: #fff;
}
.polePerWrap {
  background: #e1e1e1;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  font-size: 11px;
}

.polePer {
  text-align: right;
  z-index: 1;
}

.polePerBack {
  position: absolute;
  background: #008c95;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.poleTitle {
  z-index: 1;
  font-weight: 600;
}
.headerFiltr .css-1dimb5e-singleValue {
  font-size: 14px;
  color: #696969;
}
.headerFiltr .select__menu-list {
  font-size: 14px;
  color: #4c4c4c;
}

.card-body.cardMinHeight .table-responsive {
  min-height: 500px;
}
.dropdown-menu {
  background: var(--color1);
}

.dropdown-menu .dropdown-item {
  color: #fff;
}
.previewSpeci {
  background: #ededed;
  padding: 13px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000014;
}

.sprGroup h3 {
  font-size: 15px;
  margin-bottom: 7px;
}

.speciRow {
  display: table;
  width: 100%;
}

.speciComn {
  width: 100%;
  display: table-row;
}

.speciComTh {
  display: table-cell;
  color: var(--color-theme);
  padding: 2px 7px;
  font-size: 14px;
}

.speciComnHead {
  display: table-header-group;
}

.speciComnBody {
  display: table-row-group;
}

.speciComTd {
  display: table-cell;
  color: #000;
  padding: 4px 7px;
  font-size: 14px;
}

.speciRow:not(:first-child) {
  border-top: 1px solid #ffffff;
  margin-top: 10px;
  padding-top: 10px;
}
.theme-4.theme-color-22 .login-wrapper {
  background: #008c95;
}
.dashWrapper h3.card-subtitle {
  font-size: 16px;
  color: #787878;
}
.gap-3 {
  gap: 30px;
}
.expanded-row {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.expanded-row .row {
  margin-bottom: 20px;
}

.expanded-row .section-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.expanded-row .details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.expanded-row .details-list li {
  margin-bottom: 10px;
}

.expanded-row .details-list li strong {
  font-weight : bold;
}
.expanded-row .profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}
.bxcuntWrrapper {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.boxcount {
  width: 20%;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
}

.boxcount p {
  margin-bottom: 0;
}