
// Default style
.table-header-gray th {
    background: var(--bs-secondary);
    color: #fff;
}
.table-header-light th {
    background: var(--bs-light);
}

table.table {
    tbody {
        border-top: 0px !important;
        tr:nth-last-child(1) td{
            border-bottom: 1px solid #dee2e6 ;
        }
    }
    th,td {
        padding: 1.25rem 0.75rem;
        min-width: 100px;
    }
    th {  
        font-weight: 500;
        vertical-align: top;
    }
    td button {
        padding: 0px .4rem;
        transition:.1s all ease-in-out;
    }
    td button:hover {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    th:first-child, td:first-child {
        padding-left: 1.6rem;
    }
    
}
table td a {
    color: #333;
}
.filter_DropdownContain .dropdown-btn {
    background: #e6e6e6;
    padding: .5rem 1rem;
    border-radius: 50px;
    color: #000;
    font-weight: normal;
    font-size: .875rem;
    margin-right:5px;
    display:inline-block;
}
td .dropdown.dropdown-toggle::after {
    display: none;
}
td a.dropdown {
    color: #333;
}
td a.dropdown-item {
    font-size: 14px;
    font-weight: 500;
}
.sort_btns{
    display: inline-block;
    margin-left: 6px;
    span {
        display: block;
        line-height: 0px;
        cursor: pointer;
        &.active{
            i{
                color:#000;
            }
        }
        
        i {
            line-height: 0px;
            color:#7a7a7a;
            &:hover{
                color:#3f3f3f;
            }
        }
    }
}

.theme-4 {
    .table{
        color:#000;
    }
    td .btn-theme a{
        color:#fff;
    }
    td .btn-theme a.dropdown {
        color: #333;
    }
    td .btn-theme a.dropdown-item{
        color:#333;
    }
    td .btn-theme a.dropdown-item.active{
        color:#fff;
    }
    .table{
        position:relative;
    }
    thead {
        position: sticky;
        width: 100%;
        top: -2px;
        background: #fff;
        box-shadow:rgba(0, 0, 0, 0.09) 1px 2px 7px 0px;
    }
}
